#warpper
  h1.left.margin-right Node RPG
  br
  #explanation
    span.hotkey N
    |  to set nickname;
    span.hotkey TAB
    |  to talk;
    span.hotkey arrows
    |  to move
  canvas#app(width="1024px", height="512px")
  #chat
    #history
      .inner
    form#chatform
      input#submit(type="submit", value="Talk!")
      input#input(type="text")

- if(show_tut)
  #tutorial.hidden
    h1 Hotkeys:
    ul
      li [tab] - focus/blur chat box
      li j - join room
      li n - change nickname
      li [arrow keys] - move
    label
      input#never(type="checkbox")
      |  Never show this again.

#chooseroom.hidden
  h1 Welcome
  br
  p
    span.name
    
#login.hidden
  hi Select a nickname
  input(type="text", name="username")

