#warpper
  h1 Node Hotel
  canvas#app(width="1000px", height="500px")
  #chat
    #history
      .inner
    form#chatform
      input#submit(type="submit", value="Talk!")
      input#input(type="text")

- if(show_tut)
  #tutorial.hidden
    h1 Hotkeys:
    ul
      li [tab] - focus/blur chat box
      li j - join room
      li n - change nickname
      li [arrow keys] - move
    label
      input#never(type="checkbox")
      |  Never show this again.

#chooseroom.hidden
  h1 Choose a room
  form#roomform
    - var rooms = [{name:'home', label:'Home'}, {name:'alternative', label:'Alternative'}, {name:'outside', label:'The Outside'}];
    - for (var room in rooms)
      label
        - if(room == 0)
          input(type="radio", value=rooms[room].name, name="room", tabindex:room, checked)
        - else
          input(type="radio", value=rooms[room].name, name="room", tabindex:room)
        = rooms[room].label
      br

#login.hidden
  hi Select a username
  input(type="text", name="username")

