#warpper
  canvas#app(width="1000px", height="500px")
  #chat
    #history
      .inner
    form#chatform
      input#submit(type="submit", value="Talk!")
      input#input(type="text")

- if(show_tut)
  #tutorial
    div This is some info about how to use the app.
    label
      input#never(type="checkbox")
      |  Never show this again.
