!!! 5
html
  head
    title Node-room
    link(rel="stylesheet", type="text/css", href="/css/reset.css")
    link(rel="stylesheet", type="text/css", href="/css/style.css")
  body
    != body
    script(src="/js/lib/jquery.min.js")

    script(src="/nowjs/now.js")
    script(src="/js/character.js");
    script(src="/js/room.js")
    script(src="/js/main.js")

