body
  font-family monospace

#warpper
  margin 5px auto
  width 1000px

h1
  font-weight bold

li
  margin-left 1em
  margin-top 0.5em

input
  margin-top 1em

.hidden
  display none

.hotkey
  color #7566D1
  border 1px solid #7566D1
  background-color #EEEEFF
  padding-right 2px
  padding-left 2px

.left
  float left

.margin-right
  margin-right 1em

#explanation
  margin-bottom 4px

#app
  background-color black

#chat
  width 998px
  height 200px
  border 1px solid black

#history
  width 1000px
  height 170px
  overflow auto

#input
  height 20px
  width 891px
  padding 3px
  margin 0
  background-color #DDDDFF
  border 1px solid black
  border-right 0px
  font-family monospace
  float right

#submit
  height 28px
  width 96px
  padding 3px
  margin 0
  margin-right 2px
  background-color white
  border 1px solid black
  font-family monospace
  float right

